{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h3>CONTACT -- VIA</h3>
    <form method="post">
        {% csrf_token %}

        <strong><h4>Contact me.
at linkedin AnaenugwuChibuikeStephen/google<br>
facebook- <a href="https://www.facebook.com/chine.stephen.1">https://www.facebook.com/chine.stephen.1</a><br>
Instagram- <a href="https://www.instagram.com/meruferatson/">https://www.instagram.com/meruferatson/</a><br>
Whatsapp-<a href="https://wa.me/2349063432673">https://wa.me/2349063432673</a><br>
phone no 09063432673


</h4></strong>
<h2>
    I LOVE YOU FROM THE NETHEREALMS OF MY HEART
</h2><br>
<h2>
    SHOULD I BREAK EVERY CHAIR ON EARTH SO THAT THE ONLY PLACE YOU HAVE TO SEAT IS BESIDE ME
</h2>

        
    </form>
</div>
{% endblock content %}